**/.DS_Store
**/.idea
**/dist
**/.vagrant
target
*.swp
version.txt

**/node_modules/*
*.log
npm-debug.log
visualisation/webapp.tar.gz
**/application.home_IS_UNDEFINED
**/logs
.cache-main
.cache-tests
.classpath
.project
.settings/
bin/
*.iml
.sass-cache/
*.class

local.sbt

.virtualenv

